.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: auto;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: .9rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 90%;
  background-color: transparent;
  cursor: pointer;
}
.questionWrapper, .result {
  width: 80%;
}
.result {
  padding: 15px;
  border-radius: 15px;
  max-width: 500px;
  min-width: min(90vw, 500px);
  background-color: #eaeaea;
  color:#11001c;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.shareResult {
  max-width: min(500px, 95vw);
}

.card:hover {
  color:  #6d3c89;
  border-color: #6d3c89;
}
.card:focus, .card:active {
  outline: none;
}
.card.selected {
  background-color: #6d3c89;
  color:#fff;
}
@media (prefers-color-scheme: dark) {
  .card:hover {
    color:  #eed530;
    border-color: #eed530;
  }
  .card.selected {
    background-color: #eed530;
    color:#11001c ;
  }
}
@media screen and (max-width: 500px) {
  .questionWrapper, .result {
    max-width: 98%;
  }
}
.result .card {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  color:  #11001c;
  border-color: #11001c;
  background-color: transparent;
}
.result .card:hover {
  color:#fff!important;
  background-color: #11001c;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #fff;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.container header {
  padding: 15px;
  position: absolute;
  left: 0;right: 0;
  border-bottom: 1px solid #fff;
}
.container header div {
  font-size: .7rem;
  line-height: 2rem;
  padding: 0 .4rem;
}